{{#if isNativePickerDisplayed}}
  <input
   type="date"
   value={{moment-format value 'YYYY-MM-DD' timeZone='UTC'}}
   name={{name}}
   disabled={{isDisabled}}
   placeholder={{placeholder}}
   onchange={{action 'setValueAndValidate' value='target.value'}}
   class={{inputClass}}
   min={{moment-format minimum 'YYYY-MM-DD' timeZone='UTC'}}
   max={{moment-format maximum 'YYYY-MM-DD' timeZone='UTC'}}
   required={{required}}
   data-test-selector="input-field">
{{else}}
  {{#power-datepicker
    selected=value
    onSelect=(action 'setValueAndValidate' value='date')
    disabled=isDisabled
    center=center
    verticalPosition=verticalPosition
    as |dp|}}
    {{#dp.trigger
      tabindex='-1'
      }}
      <input
       type="text"
       name={{name}}
       placeholder={{placeholder}}
       value={{moment-format dp.selected 'MMMM D, YYYY' allowEmpty=true}}
       class={{inputClass}}
       disabled={{isDisabled}}
       readonly
       data-test-selector="date-picker-trigger">
    {{/dp.trigger}}

    {{#dp.content class='DatePicker'}}
      <nav class="ember-power-calendar-nav" data-test-selector="calendar-nav" data-test-center-value={{moment-format dp.center 'YYYY-MM-DD'}}>
        <button
          class="ember-power-calendar-nav-control ember-power-calendar-nav-control--previous"
          type="button"
          data-test-selector="previous-month-button"
          disabled={{and min (is-same-or-before dp.center min precision='month')}}
          onclick={{action dp.actions.moveCenter -1 'month'}}>
          ◀
        </button>

        <div class="ember-power-calendar-dropdowns-holder">
          {{#with (moment-format dp.center 'MMMM') as |currentMonth|}}
            <select
              class="ember-power-calendar-nav-dropdown"
              onchange={{action 'changeCenter' 'month' dp}}
              data-test-selector="month-selector">
              {{#each selectableMonthOptions as |opt|}}
                <option selected={{eq opt currentMonth}} value={{opt}}>
                  {{opt}}
                </option>
              {{/each}}
            </select>
          {{/with}}

          {{#with (moment-format dp.center 'YYYY') as |currentYear|}}
            <select
              class="ember-power-calendar-nav-dropdown"
              onchange={{action 'changeCenter' 'year' dp}}
              data-test-selector="year-selector">
              {{#each selectableYearOptions as |opt|}}
                <option selected={{eq opt currentYear}} value={{opt}}>
                  {{opt}}
                </option>
              {{/each}}
            </select>
          {{/with}}
        </div>

        <button
          class="ember-power-calendar-nav-control ember-power-calendar-nav-control--next"
          type="button"
          disabled={{and max (is-same-or-after dp.center max precision='month')}}
          onclick={{action dp.actions.moveCenter 1 'month'}}
          data-test-selector="next-month-button">
          ▶
        </button>
      </nav>

      {{dp.days
        minDate=minimum
        maxDate=maximum
        class='DatePicker-days'
        }}
    {{/dp.content}}
  {{/power-datepicker}}
{{/if}}
