<dl>
  <dt>Current value:</dt>
  <dd data-test-selector="current-value">
    {{this.currentValue}}
  </dd>

  <dt>Is Native Displayed:</dt>
  <dd data-test-is-native-displayed>
    {{this.datePicker.isNativePickerDisplayed}}
  </dd>
</dl>

<button
  type="button"
  {{on "click" this.toggleNative}}
>
  Toggle native picker
</button>

<hr>

<DatePicker
  @value={{this.currentValue}}
  @min={{this.minimum}}
  @max={{this.maximum}}
  @placeholder="Pick a date"
  @onChange={{this.onChange}}
  data-test-selector="date-picker-wrapper"
/>
